.form-body {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.37);
}

.form {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;

}

form {
    max-width: 500px;
    display: block;
    position: absolute;
    top: 20%;
    align-items: center;
    border:  1px solid rgba(47, 46, 43, 0.4);
    background-color: rgba(255, 255, 255, 0.959);
    padding: 23px;
    border-radius: 5px;
}

form button {
    margin: 10px;
    display: block;
    margin: 0 auto;
}

input {
    background: transparent;
    border-bottom: 1px solid rgba(128, 128, 128, 0.589);
    width: 100%;
}

.cancel {
    display: block;
    text-align: right;
    cursor: pointer;
    width: 20px;
    margin-left: auto;
}

.sendBtn {
    width: 50px;
    margin-top: 10px;
    margin-bottom: -17px;
    height: 47px;
    line-height: 10px;
    position: relative;
     bottom: 0;
}