.Home {
    /* position: relative; */
}

.addCountdown {
    position: fixed;
    top: 85vh;
    left: 87vw;
    height: 70px;
    width: 70px;
    font-size: 40px;
}

.card {
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.548);
    max-width: 200px;
}

.count-body {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    /* height: 70px!important; */
}

.c-body {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}

.count-body h1 {
    margin-bottom: 10px;
    font-size: 60px;
}

.count-container {
    padding: 15px;
    cursor: pointer;
}

.count-container h1 {
    font-size: 40px;
}

.timer-text {
    margin-top: 30vh;
    font-size: 70px;
}

.count-flex {
    width: 600px;
    margin-top: 20vh;
}

.count-icons {
    cursor: pointer;
}

@media (max-width : 620px) {
    .count-flex {
        width: 300px;
        margin-top: 20vh;
    }

    .addCountdown {
        position: fixed;
        top: 85vh;
        left: 76vw;
        height: 70px;
        width: 70px;
        font-size: 40px;
    }
}